.communities-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--section-top-padding-base) var(--section-side-padding);
  border-bottom: 1px solid #c4c4c4;
  gap: calc(var(--section-top-padding-base) / 2);
}

.communities-list__item {
  padding: 0;
  margin: 0;
  border: 0;
}

.community {
  border: none;
  border-radius: 0;
  border-left: 1px solid #c4c4c4;
  padding: 76px 0 0 calc(var(--section-top-padding-base) / 2);
  align-items: flex-start;
  background-position: calc(var(--section-top-padding-base) / 2) 0;
}

.community__title {
  color: var(--color-text);
  font: normal var(--font-size-subheader) / 133% var(--font-family-header);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  padding: 0.33em 0 0;
  margin: 0 0 1.33em;
  border-top: 1px solid #c4c4c4;
  min-width: 315px;
}

.community__text {
  margin-bottom: var(--section-top-padding-base);
}

.community__link {
  width: 88px;
  height: 88px;
  border-radius: 16px;
}

.community__link:link,
.community__link:visited {
  background-color: #f7f7f7;
}

.community__link:hover,
.community__link:active {
  background-color: #dfdfdf;
}

.community__link svg {
  width: 24px;
  height: 22px;
}
