.communities-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--section-top-padding-base) var(--section-side-padding);
  border-bottom: 1px solid #c4c4c4;
  gap: calc(var(--section-top-padding-base) / 2);
}

.communities-list__item {
  padding: 0;
  margin: 0;
  border: 0;
}
