<header class="padded-wrap">
    <h1 class="main-title"><span class="main-title__website">Васильевский остров</span>{%- if title -%}<span class="main-title__section">{{ title }}</span>{%- endif -%}</h1>
    <p class="main-subtitle">Авторский сайт о вокально-инструментальных ансамблях и музыке советской эпохи</p>
</header>
