body,
html {
  height: 100%;
  min-height: 100%;
}

.error-page {
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  background: #a5a14c url('/img/404.svg') left bottom no-repeat;
  background-size: max(85vh, 450px);
  min-height: 650px;
  grid-template-rows: min-content 1fr;
  padding: var(--section-top-padding-base) var(--section-side-padding)
    var(--section-side-padding);
  padding-bottom: var(--section-top-padding-base);
}

.error-page-content {
  display: flex;
  text-align: center;
  padding: 0 4.5rem 0 calc(max(85vh, 450px) + 4.5rem);
  justify-content: center;
  align-items: center;
  margin-bottom: calc(-1 * var(--section-top-padding-base));
}

.error-page__title {
  margin: 0 0 2rem;
  padding: 0;
}

.error-page__title strong {
  display: block;
  font-size: 8rem;
  color: #000;
  line-height: 1.2;
  font-weight: 400;
}

.error-page__text {
  text-align: center;
  color: #000000;
  margin: 0;
}

.error-page__link {
  display: inline-block;
  padding: 20px 42px;
  margin: 3rem 0 0 0;
}

.error-page__link:link,
.error-page__link:visited,
.error-page__link:hover,
.error-page__link:active {
  color: #fff;
  text-decoration: none;
}

.error-page__link:hover,
.error-page__link:active {
  background: rgba(0, 0, 0, 0.7);
}
