body,
html {
  height: 100%;
  min-height: 100%;
}

.error-page {
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  background-color: #a5a14c;
  background: #a5a14c url('/img/404.svg') left bottom no-repeat;
  background-size: max(85vh, 450px);
  min-height: 650px;
  grid-template-rows: min-content 1fr;
  padding-bottom: var(--section-top-padding-base);
}

.error-page-content {
  display: flex;
  text-align: center;
  padding: 0 4.5rem 0 calc(max(85vh, 450px) + 4.5rem);
  justify-content: center;
  align-items: center;
}

.error-page-content__inner {
}

.error-page__title {
  font-family: var(--font-family-header);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-intense);
  line-height: 1.43;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 2rem;
  padding: 0;
}

.error-page__title strong {
  display: block;
  font-size: 8rem;
  color: #000;
  line-height: 1.2;
  font-weight: 400;
}

.error-page__text {
  font-family: var(--font-family-text);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: 162%;
  text-align: center;
  color: #000000;
  margin: 0;
}

.error-page__link {
  display: inline-block;
  font-family: var(--font-family-text);
  font-size: var(--font-size-intense);
  line-height: 172%;
  background: #000000;
  border-radius: 16px;
  color: #fff;
  padding: 20px 42px;
  margin: 3rem 0 0 0;
}

.error-page__link:link,
.error-page__link:visited,
.error-page__link:hover,
.error-page__link:active {
  color: #fff;
  text-decoration: none;
}

.error-page__link:hover,
.error-page__link:active {
  background: rgba(0, 0, 0, 0.7);
}
