.community-navigation-wrap {
  margin-top: auto;
}

.community-navigation {
  display: flex;
  flex-direction: column;
  min-width: auto;
  font: normal 1.5rem/1.333 var(--font-family-header);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color-text);
  padding: 0;
  gap: 16px;
}

.community-navigation__item {
  border: none;
  padding: 0;
  margin: 0;
}

.community-navigation__item a {
  display: block;
  padding: 8px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.community-navigation__item a:link,
.community-navigation__item a:visited {
  color: var(--color-text);
  border-color: rgba(0, 0, 0, 0.2);
}

.community-navigation__item a:hover,
.community-navigation__item a:active {
  color: var(--color-text);
  border-color: rgba(0, 0, 0, 1);
}
