.about {
  padding: calc(2 * var(--section-top-padding-base)) var(--section-side-padding);
  display: grid;
  grid-template-columns: 50% auto max-content;
}

.about__header {
  grid-column: 1 / 2;
  margin: 0 0 var(--section-top-padding-base);
  padding: 0;
  border: none;
}

.about__header h1 {
  margin: 0 0 0.187em;
  padding: 0;
}

.about__header h2 {
  text-transform: none;
  font-size: var(--font-size-intense);
  line-height: 171%;
}

.about__disclaimer {
  grid-column: 1;
  font: normal var(--font-size-small) / 167% var(--font-family-text);
  margin: 0;
}

.about__author {
  grid-column: 3;
  grid-row: 1 / 3;
  margin: 0;
  align-self: end;
}

.author__header {
  font: normal var(--font-size-intense) / 171% var(--font-family-text);
  letter-spacing: 0.01em;
  margin: 0 0 0.5em;
  padding: 0;
}

.author__name {
  font: normal var(--font-size-base) / 162% var(--font-family-text);
  margin: 0 0 calc(var(--section-top-padding-base) / 2);
  padding: 0;
}

.social-links {
  gap: 1rem;
  justify-content: start;
}
