.jouele {
  color: var(--color-text);
  width: 100%;
}

.jouele-info-control {
  display: flex;
  align-items: center;
}

.jouele-info-control-button {
  margin-right: 10px;
}

.jouele-info-control-link {
  border: 1px solid #dfdfdf !important;
  box-sizing: border-box;
  border-radius: 100px;
}

.jouele-svg {
  width: 24px;
  height: 24px;
  position: relative;
  left: 1px;
}

.jouele-info {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.jouele-info-time {
  order: 1;
  align-self: center;
}
