.track-list__item {
  font: normal var(--font-size-intense) / 171% var(--font-family-text);
  letter-spacing: 0.01em;
  gap: 18px;
  padding: 0.5em 0;
  align-items: flex-start;
}

.track-list__item::before {
  padding-top: 0;
}
