.tracks-on-request {
  height: 100vh;
  overflow: hidden;
}

.requested-list {
  display: flex;
  --toggle-button-width: 56px;
}

.requested-list__item {
  height: 100vh;
  position: relative;
  flex: 0 0 var(--toggle-button-width);
  transition: all 0.25s ease-out;
  overflow: hidden;
}

.requested-list__item[data-collapsed='false'] {
  flex: 1;
}

.requested-item {
  display: contents;
}

.requested-item__toggle-visibility {
  position: absolute;
  transform: rotate(-90deg)
    translate(
      calc(-100vh + var(--toggle-button-width) / 2),
      calc(var(--toggle-button-width) / 2)
    );
  width: 100vh;
  height: var(--toggle-button-width);
  padding: 0;
  transform-origin: left;
}

[data-collapsed='false'] .requested-item__toggle-visibility {
  pointer-events: none;
}

.requested-item-tracks::before {
  content: '';
  background-image: url('/img/vynil-right-half.svg');
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: var(--toggle-button-width);
  top: 50%;
  height: 60vh;
  transform: translateY(-50%);
  aspect-ratio: 2;
}

.requested-item-tracks {
  box-sizing: border-box;
  padding: calc(var(--section-top-padding-base) * 2) var(--section-side-padding)
    var(--section-top-padding-base) calc(var(--section-side-padding) * 5);
  flex-direction: column;
  height: 100%;
  display: none;
}

.requested-item-tracks[data-collapsed] {
  height: auto;
}

[data-collapsed='false'] .requested-item-tracks {
  display: flex;
}

.requested-item-tracks__title {
  padding: 0;
  background: none;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-text);
  font: normal var(--font-size-base) / 150% var(--font-family-header);
  margin: 0 0 1em;
}

.requested-item-tracks__author {
  margin: 0;
  padding: 0;
  text-align: left;
  color: var(--color-text);
  font: normal var(--font-size-subheader) / 133% var(--font-family-text);
}

.requested-item-tracks__album {
  margin: 0;
  padding: 0;
  text-align: left;
  font: normal var(--font-size-subheader) / 133% var(--font-family-text);
}

.requested-item-tracks__list-container {
  padding: 0;
  margin: 1em 0 0 0;
  overflow: auto;
  height: 100%;
}

.requested-item-tracks-list__item {
  font: normal var(--font-size-intense) / 171% var(--font-family-text);
  letter-spacing: 0.01em;
  gap: 18px;
  padding: 0.5em 0;
  align-items: flex-start;
}

.requested-item-tracks-list__icon {
  position: relative;
  top: 2px;
  margin: 0 -10px;
}

.jouele-info-time {
  font-size: 1em;
  color: var(--color-text);
  padding-right: 1em;
}

.requested-item-tracks__buttons {
  display: none;
}
