.catalogue-index {
  position: relative;
}

.catalogue-index__nav {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.catalogue-index__title {
  font: normal 1.25rem/1.4 var(--font-family-header);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0;
  padding: 40px var(--section-side-padding) 25px;
}
