.community-navigation-wrap {
  display: flex;
}

.community-navigation {
  display: flex;
  flex-direction: column;
  min-width: 70vw;
  padding: 0;
  margin: 0;
  list-style: none;
  font: normal 0.875rem/1.4285 var(--font-family-header);
  text-transform: uppercase;
  color: var(--color-main);
}

.community-navigation__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 8px;
  padding: 0;
}
.community-navigation__item a {
  color: var(--color-main);
  text-decoration: none;
  display: block;
  padding: 8px 0;
}
