.news-list {
  grid-area: news;
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  grid-template-rows: repeat(100, auto);
  gap: 0 48px;
}

.news-list_archive {
  grid-template-columns: 1fr;
  grid-template-rows: none;
}

.news-list__item {
  grid-column: 2;
}

.news-list__item:first-child {
  grid-column: 1;
  grid-row: 1 / -1;
}

.news-list_archive .news-list__item {
  grid-column: 1 / -1;
}

.news-list_archive .news-list__item:first-child {
  grid-column: 1 / -1;
  grid-row: auto;
}
