@media screen and (min-width: 800px) {
  :root {
    --section-side-padding: 80px;
    --section-top-padding-base: 56px;
  }

  h1 {
    margin: 0;
  }

  h2 {
    font: normal var(--font-size-header)/125% var(--font-family-header);
    letter-spacing: -0.005em;
    text-transform: uppercase;
  }

  .navigation-button {
    display: none;
  }

  .navigation {
    position: static;
    height: auto;
  }

  .padded-wrap {
    padding: var(--section-top-padding-base) var(--section-side-padding) var(--section-side-padding);
  }

  .facade {
    position: relative;
    height: 100vh;
    padding: 0;
    background-color: #9DBBC5;
    background-image: none;
    display: grid;
  }

  .facade::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 80%;
    aspect-ratio: 1;
    background: url('/img/vynil.svg') right bottom no-repeat;
    background-size: 100% 100%;
    z-index: 1;
  }

  .facade .padded-wrap {
    display: flex;
    flex-direction: column;
  }

  .facade h1 {
    margin: 0 0 8px;
    padding: 0;
    font: normal 3rem/1.166 var(--font-family-header);
    letter-spacing: -0.005em;
    color: var(--color-main);
    text-transform: uppercase;
  }

  .facade h2 {
    font: normal var(--font-size-header)/1.166 var(--font-family-header);
    display: block;
    color: var(--color-text-dark-gray);
    font: normal 0.875rem/1.715 var(--font-family-text);
    letter-spacing: 0.01em;
    margin: 0;
    padding: 0;
  }

  .community-navigation-wrap {
    margin-top: auto;
  }

  .community-navigation {
    display: flex;
    flex-direction: column;
    min-width: auto;
    font: normal 1.5rem/1.333 var(--font-family-header);
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--color-text);
    padding: 0;
    gap: 16px;
  }

  .community-navigation__item {
    border: none;
    padding: 0;
    margin: 0;

  }

  .community-navigation__item a {
    display: block;
    padding: 8px 0;
    border-top: 1px solid rgba(0, 0, 0, .2);
  }

  .main-navigation-wrap {
    display: contents;
  }

  .main-navigation {
    display: flex;
    flex-direction: row;
    gap: 36px;
    position: absolute;
    z-index: 2;
    top: var(--section-top-padding-base);
    right: var(--section-side-padding);
    left: auto;
    bottom: auto;
    background: none;
    font: normal 1rem/1.5 var(--font-family-header);
    text-transform: uppercase;
    color: var(--color-text);
    margin: 0;
    padding: 0;
  }

  .main-navigation__item {
    border: none;
  }

  .main-navigation a {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, .2);
  }

  .community-navigation__item a:link,
  .community-navigation__item a:visited,
  .main-navigation a:link,
  .main-navigation a:visited {
    color: var(--color-text);
    border-color: rgba(0, 0, 0, .2);
  }

  .community-navigation__item a:hover,
  .community-navigation__item a:active,
  .main-navigation a:hover,
  .main-navigation a:active {
    color: var(--color-text);
    border-color: rgba(0, 0, 0, 1);
  }

  .news {
    padding: var(--section-top-padding-base) var(--section-side-padding) var(--section-side-padding);
    display: grid;
    grid-template-areas:
      "header nav"
      "news news"
  }

  .news h2 {
    grid-area: header;
    margin-bottom: calc(var(--section-top-padding-base) * 1.5);
    color: var(--color-light);
  }

  .news-footer {
    grid-area: nav;
    justify-self: end;
    display: block;
  }

  .news-archive-link {
    color: var(--color-light);
    font: normal var(--font-size-base)/150% var(--font-family-header);
    text-decoration: none;
    text-transform: uppercase;
    align-items: initial;
    gap: 20px;
  }

  .news-archive-link:link,
  .news-archive-link:visited {
    color: rgb(var(--color-light-rgb));
  }

  .news-archive-link:hover,
  .news-archive-link:active {
    color: rgba(var(--color-light-rgb), .8);
  }

  .news-list {
    grid-area: news;
    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
    grid-template-rows: repeat(100, auto);
    gap: 0 48px;
  }

  .news-list__item {
    grid-column: 2;
  }

  .news-list__item:first-child {
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .news-item {
    border-top: 1px solid rgba(var(--color-light-rgb), .2);
    font: normal var(--font-size-base)/150% var(--font-family-text);
    padding: 12px 0 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: inherit;
  }

  .news-item time {
    font-size: var(--font-size-intense);
    color: inherit;
    opacity: 1;
  }

  .news-item p {
    margin: 0;
  }

  .news-item-link {
    text-decoration: none;
    color: var(--color-light);
  }

  .news-item-link:link,
  .news-item-link:visited {
    text-decoration: none;
    color: var(--color-light);
  }

  .news-item-link:hover,
  .news-item-link:active {
    text-decoration: none;
    color: rgba(var(--color-light-rgb), .8);
  }

  .news-list__item:first-child .news-item {
    font-size: 2.125rem;
    line-height: 141%;
    gap: 24px;
  }

  .news-list__item:first-child .news-item time {
    font-size: 1rem;
    line-height: 162%;
  }

  .tracks-on-request {
    height: 100vh;
    overflow: hidden;
  }

  .requested-list {
    display: flex;
    --toggle-button-width: 56px
  }

  .requested-list__item {
    height: 100vh;
    position: relative;
    flex: 0 0 var(--toggle-button-width);
    transition: all 0.25s ease-out;
    overflow: hidden;
  }

  .requested-list__item[data-collapsed="false"] {
    flex: 1;
  }

  .requested-item {
    display: contents;
  }

  .requested-item__toggle-visibility {
    position: absolute;
    transform: rotate(-90deg) translate(calc(-100vh + var(--toggle-button-width) / 2), calc(var(--toggle-button-width) / 2));
    width: 100vh;
    height: var(--toggle-button-width);
    padding: 0;
    transform-origin: left;
  }

  [data-collapsed="false"] .requested-item__toggle-visibility {
    pointer-events: none;
  }

  .requested-item-tracks::before {
    content: '';
    background-image: url("/img/vynil-right-half.svg");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: var(--toggle-button-width);
    top: 50%;
    height: 60vh;
    transform: translateY(-50%);
    aspect-ratio: 2;
  }

  .requested-item-tracks {
    box-sizing: border-box;
    padding: calc(var(--section-top-padding-base) * 2) var(--section-side-padding) var(--section-top-padding-base) calc(var(--section-side-padding) * 5);
    flex-direction: column;
    height: 100%;
    display: none;
  }

  .requested-item-tracks[data-collapsed] {
    height: auto;
  }

  [data-collapsed="false"] .requested-item-tracks {
    display: flex;
  }

  .requested-item-tracks__title {
    padding: 0;
    background: none;
    text-align: left;
    text-transform: uppercase;
    color: var(--color-text);
    font: normal var(--font-size-base)/150% var(--font-family-header);
    margin: 0 0 1em;
  }

  .requested-item-tracks__author {
    margin: 0;
    padding: 0;
    text-align: left;
    color: var(--color-text);
    font: normal var(--font-size-subheader)/133% var(--font-family-text);
  }

  .requested-item-tracks__album {
    margin: 0;
    padding: 0;
    text-align: left;
    font: normal var(--font-size-subheader)/133% var(--font-family-text);
  }

  .requested-item-tracks__list-container {
    padding: 0;
    margin: 1em 0 0 0;
    overflow: auto;
    height: 100%;
  }

  .requested-item-tracks-list__item {
    font: normal var(--font-size-intense)/171% var(--font-family-text);
    letter-spacing: 0.01em;
    gap: 18px;
    padding: .5em 0;
    align-items: flex-start;
  }

  .requested-item-tracks-list__icon {
    position: relative;
    top: 2px;
    margin: 0 -10px;
  }

  .jouele-info-time {
    font-size: 1em;
    color: var(--color-text);
    padding-right: 1em;
  }

  .requested-item-tracks__buttons {
    display: none;
  }

  .communities__title {
    padding: var(--section-top-padding-base) var(--section-side-padding);
    margin: 0;
  }

  .communities-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--section-top-padding-base) var(--section-side-padding);
    border-bottom: 1px solid #c4c4c4;
    gap: calc(var(--section-top-padding-base) / 2);
  }

  .communities-list__item {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .community {
    border: none;
    border-radius: 0;
    border-left: 1px solid #c4c4c4;
    padding: 76px 0 0 calc(var(--section-top-padding-base) / 2);
    align-items: flex-start;
    background-position: calc(var(--section-top-padding-base) / 2) 0;
  }

  .community__title {
    color: var(--color-text);
    font: normal var(--font-size-subheader)/133% var(--font-family-header);
    letter-spacing: 0.01em;
    text-transform: uppercase;
    padding: 0.33em 0 0;
    margin: 0 0 1.33em;
    border-top: 1px solid #c4c4c4;
    min-width: 315px;
  }

  .community__text {
    margin-bottom: var(--section-top-padding-base);
  }

  .community__link {
    width: 88px;
    height: 88px;
    border-radius: 16px;
  }

  .community__link:link,
  .community__link:visited {
    background-color: #f7f7f7;
  }

  .community__link:hover,
  .community__link:active {
    background-color: #dfdfdf;
  }

  .community__link svg {
    width: 24px;
    height: 22px;
  }

  .about {
    padding: calc(2 * var(--section-top-padding-base)) var(--section-side-padding);
    display: grid;
    grid-template-columns: 50% auto max-content;
  }

  .about__header {
    grid-column: 1 / 2;
    margin: 0 0 var(--section-top-padding-base);
    padding: 0;
    border: none;
  }

  .about__header h1 {
    margin: 0 0 0.187em;
    padding: 0;
  }

  .about__header h2 {
    text-transform: none;
    font-size: var(--font-size-intense);
    line-height: 171%;
  }

  .about__disclaimer {
    grid-column: 1;
    font: normal var(--font-size-small)/167% var(--font-family-text);
    margin: 0;
  }

  .about__author {
    grid-column: 3;
    grid-row: 1 / 3;
    margin: 0;
    align-self: end;
  }

  .author__header {
    font: normal var(--font-size-intense)/171% var(--font-family-text);
    letter-spacing: 0.01em;
    margin: 0 0 .5em;
    padding: 0;
  }

  .author__name {
    font: normal var(--font-size-base)/162% var(--font-family-text);
    margin: 0 0 calc(var(--section-top-padding-base) / 2);
    padding: 0;
  }

  .social-links {
    gap: unset;
    justify-content: space-between;
  }

  .catalogue-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    margin: 0 0 var(--section-side-padding);
  }

  .catalogue-form__group {
    margin: 0;
  }

  .catalogue {
    grid-template-columns: 1fr 1fr 1fr;
    margin: var(--section-side-padding) 0 0;
    gap: 1.5rem;
  }

  .catalogue__item {
  }



  .catalogue-entry {
    position: relative;
    display: flex;
    padding: 0;
    aspect-ratio: 1.068;
  }

  .catalogue-entry a::after {
    content: '';
    width: 84%;
    aspect-ratio: 0.512;
    background: url("/img/vynil-catalogue.svg") no-repeat;
    position: absolute;
    left: 50%;
    top: 7.9%;
    transform: translateX(-50%) translateY(100%);
    transition: all linear 0.25s;
  }

  .catalogue-entry a {
    padding-top: 50%;
  }

  .catalogue-entry a:link,
  .catalogue-entry a:visited {}

  .catalogue-entry:hover,
  .catalogue-entry:focus-within {
    box-shadow: var(--color-text-footer) 0 0 1rem -0.25rem;
  }

  .catalogue-entry a:hover::after,
  .catalogue-entry a:focus::after {
      transform: translateX(-50%) translateY(0);
  }

  .catalogue-entry__title {
    position: relative;
    z-index: 1;
    padding: 7.9%;
    font-size: clamp(0.75rem, -0.25rem + 2vw, 1.25rem);
    line-height: 140%;
    display: flex;
    align-items: flex-end;
  }

  .catalogue-form__search-input {
  }

  .catalogue-form__search-input::placeholder {
  }

  .catalogue-form__search-input:focus::placeholder {
  }
  .catalogue-form__search-input:focus {
  }

  .catalogue-form__sort-input {
  }

}



@media screen and (min-width: 480px) and (max-width: 799px) {
  .catalogue {
    grid-template-columns: 1fr 1fr;
    margin: var(--section-side-padding) 0 0;
    gap: 1.5rem;
  }
}
