:root {
  --section-side-padding: 16px;
  --section-top-padding-base: 12px;
}

h1 {
  font: normal var(--font-size-header)/133% "Tenor Sans";
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color-text);
  padding: calc(2 * var(--section-top-padding-base)) 0;
  margin: 0 0 calc(2 * var(--section-top-padding-base));
}

.padded-wrap {
  padding: 0 var(--section-side-padding);
}

.navigation {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 48px;
  overflow: hidden;
  z-index: 2;
}

.navigation_visible {
  height: 100vh;
}

.navigation-close,
.navigation-open {
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;
  border: none;
  padding: 12px var(--section-side-padding);
  font-family: var(--font-family-header);
  font-size: 0.875rem;
  line-height: 143%;
  text-transform: uppercase;
  color: var(--color-main);
}

.navigation-open__icon {
  margin-right: 12px;
}

.navigation-close__icon {
    margin-left: auto;
}

.navigation-close {
  color: #F2E7AA;
  background-color: #F2E7AA;
}
.main-navigation-wrap {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform .25s ease-out;
  background: #F2E7AA url('/img/vynil.svg') right bottom no-repeat;
  transform: translate(-100%);
}

.navigation_visible .main-navigation-wrap {
    transform: translate(0);
    display: flex;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: var(--font-family-header);
  line-height: 1.333;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color-main);
  margin: 16px;
  padding: 0;
  list-style: none;
}

.main-navigation__item {
  margin: 0 0 1em;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.main-navigation a {
  text-decoration: none;
  color: var(--color-main);
  display: block;
  padding: 8px 0;
}

.facade {
  height: 100vh;
  background: #9DBBC5 url('/img/vynil.svg') right bottom no-repeat;
  padding-top: calc(2 * var(--section-top-padding-base));
}

.facade h1 {
  margin: 0 0 56px;
  padding: 0;
  font: normal 1.5rem/1.333 var(--font-family-header);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  width: 75%;
}

.facade h2 {
  display: none;
}

.community-navigation-wrap {
  display: flex;
}

.community-navigation {
  display: flex;
  flex-direction: column;
  min-width: 70vw;
  padding: 0;
  margin: 0;
  list-style: none;
  font: normal .875rem/1.4285 var(--font-family-header);
  text-transform: uppercase;
  color: var(--color-main);
}

.community-navigation__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 8px;
  padding: 0;
}
.community-navigation__item a {
  color: var(--color-main);
  text-decoration: none;
  display: block;
  padding: 8px 0;
}



.news {
  padding: 1.5em var(--section-side-padding) 2.5em;
  color: var(--color-light);
  background-color: #D7672D;
}

.news h2 {
  font: normal 1.25rem/1.4 var(--font-family-header);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0 0 2em;
  padding: 0;
}


.news-list {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}

.news-list li {
  margin: 0;
  padding: 0;
}

.news-item {
  color: var(--color-light);
  font: normal .875rem/1.715 var(--font-family-text);
  letter-spacing: 0.01em;
  border-top: 1px solid #DFDFDF;
  padding: 8px 0;
}

.news-item time {
  font: normal .75rem/1.666 var(--font-family-text);
  opacity: 0.6;
  color: var(--color-light);
}

.news-item p {
  margin: .875em 0;
}

.news-footer {
  display: flex;
  justify-content: flex-end;
}

.news-archive-link {
  font: normal .75rem var(--font-family-header);
  text-transform: uppercase;
  color: var(--color-light);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.news-archive-link::after {
  content: url('/img/arrow-right.svg');
}
.requested-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.requested-list__item:nth-child(6n-5) .requested-item__toggle-visibility {
  background-color: var(--color-requested-header-bg-1);
}
.requested-list__item:nth-child(6n-4) .requested-item__toggle-visibility {
  background-color: var(--color-requested-header-bg-2);
}
.requested-list__item:nth-child(6n-3) .requested-item__toggle-visibility {
  background-color: var(--color-requested-header-bg-3);
}
.requested-list__item:nth-child(6n-2) .requested-item__toggle-visibility {
  background-color: var(--color-requested-header-bg-4);
}
.requested-list__item:nth-child(6n-1) .requested-item__toggle-visibility {
  background-color: var(--color-requested-header-bg-5);
}
.requested-list__item:nth-child(6n) .requested-item__toggle-visibility {
  background-color: var(--color-requested-header-bg-6);
}

.requested-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.requested-item__toggle-visibility {
  position: relative;
  color: white;
  margin: 0;
  padding: var(--section-top-padding-base) var(--section-side-padding);
  text-align: center;
  font: normal var(--font-size-intense)/1.2 "Tenor Sans";
  text-transform: uppercase;
  border: none;
}

.requested-item-tracks {
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  transition: height 0.25s ease-out;
}

[data-collapsed="true"] .requested-item-tracks {
  height: 0;
}

.requested-item-tracks__title {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-base);
  line-height: 133%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text);
  margin: 0 0 var(--section-top-padding-base);
  padding: calc(9 * var(--section-top-padding-base)) var(--section-side-padding) 0;
  background: url(/img/vynil-light.svg) top center no-repeat;
  background-size: 180px 90px;
}

.requested-item-tracks__author,
.requested-item-tracks__album {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-subheader);
  line-height: 1.625;
  text-align: center;
  color: var(--color-text);
  margin: 0;
  padding: 0 var(--section-side-padding);
}
.requested-item-tracks__author {
  margin-top: var(--section-top-padding-base);
}
.requested-item-tracks__album {
  margin-bottom: calc(3 * var(--section-top-padding-base));
}
.requested-item-tracks__button {
  width: 100%;
  display: block;
  padding: var(--section-top-padding-base);
  color: #949494;
  font: normal var(--font-size-base)/1.2 "Tenor Sans";
  text-align: center;
  background: none;
  border: none;
}

.requested-item-tracks__button:focus,
.requested-item-tracks__button:hover {
  color: #636363;
}

.requested-item-tracks__list-container {
  position: relative;
  margin: 0;
  padding: 0 var(--section-side-padding) calc(3 * var(--section-top-padding-base));
  overflow: hidden;
  transition: height 0.3s ease-out;
}

[data-collapsed="true"] .requested-item-tracks__list-container {
  /* height: 125px; */
}

.requested-list__item[data-collapsed="false"] .requested-item-tracks__button_expand {
  display: none;
}

.requested-list__item[data-collapsed="false"] .requested-item-tracks__button_collapse {
  display: block;
}

.requested-list__item[data-collapsed="true"] .requested-item-tracks__button_expand {
  display: block;
}

.requested-list__item[data-collapsed="true"] .requested-item-tracks__button_collapse {
  display: none;
}

.requested-item-tracks__list-container::after {
  display: none;
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
  transition: height 0.3s ease-out;
}

.requested-list__item[data-collapsed="false"] .requested-item-tracks__list-container::after {
  display: none;
  height: 0;
}

.requested-item-tracks-list {
  list-style: none;
  font: normal var(--font-size-base)/167% Merriweather;
  color: var(--color-text-footer);
  counter-reset: track-counter;
  margin: 0;
  padding: 0;
}

.requested-item-tracks-list__item {
  display: flex;
  padding: .5em 0 .5em;
  counter-increment: track-counter;
  gap: 10px;
  align-items: center;
}

.requested-item-tracks-list__item::before {
  content: counter(track-counter);
  text-align: right;
  width: 15px;
}

.jouele {
  color: var(--color-text);
  width: 100%;
}

.jouele-info-control {
  display: flex;
  align-items: center;
}

.jouele-info-control-button {
  margin-right: 10px;
}

.jouele-info-control-link {
  border: 1px solid #DFDFDF !important;
  box-sizing: border-box;
  border-radius: 100px;
}

.jouele-svg {
  width: 24px;
  height: 24px;
  position: relative;
  left: 1px;
}

.jouele-info {
  display: grid;
  grid-template-columns: 1fr max-content;

}

.jouele-info-time {
  order: 1;
  align-self: center;
}

.about {
  padding: calc(3 * var(--section-top-padding-base)) var(--section-side-padding) calc(6 * var(--section-top-padding-base));
  background-color: var(--color-bg-about);
  font: normal var(--font-size-base)/167% Merriweather;
  color: var(--color-text-footer);
}

.about h1 {
  font: normal calc(2 * var(--font-size-base))/133% "Tenor Sans";
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0 0 calc(2 * var(--section-top-padding-base));
  color: var(--color-text);
}

.about h2 {
  font: normal var(--font-size-base)/167% Merriweather;
  color: var(--color-text);
  opacity: 0.4;
  margin: 0;
}

.about__header {
  padding: 0 0 calc(3 * var(--section-top-padding-base));
  border-bottom: 1px solid #DFDFDF;
}

.about__disclaimer {
  margin: 1.33em 0;
}

.about__author {
  margin-top: 40px;
}

.author__header {
  font: normal var(--font-size-base)/167% Merriweather;
  color: var(--color-text-footer);
  margin: 0 0 0.666em;
  padding: 0;
}

.author__name {
  font: normal var(--font-size-subheader)/162% Merriweather;
  color: var(--color-text-dark-gray);
  display: block;
  margin: 0 0 calc(1 * var(--section-top-padding-base));
}

.social-links {
  display: flex;
  gap: calc(1 * var(--section-top-padding-base));
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
}


.communities {
  padding: 0 0 calc(1.5 * var(--section-side-padding));
}

.communities__title {
  padding: 40px 10px 40px 16px;
  margin: 0 0 var(--section-side-padding);
  background: #F2E7AA;
  font: normal var(--font-size-header)/1.33 "Tenor Sans";
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color-text);
}

.communities-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.communities-list__item {
  margin: var(--section-side-padding) 0;
  padding: 0 var(--section-side-padding);
}

.communities-list__item:nth-child(2n) .community {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52 52'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M52 26c0 .75-.032 1.494-.094 2.229H.094a26.345 26.345 0 0 1 0-4.457h51.812c.062.734.094 1.477.094 2.228ZM1.31 34.172a25.834 25.834 0 0 1-1.047-4.457h51.474a25.836 25.836 0 0 1-1.047 4.457H1.31Zm.543 1.485a25.921 25.921 0 0 0 2.308 4.458h43.678a25.922 25.922 0 0 0 2.308-4.458H1.853Zm7.602 10.4A26.155 26.155 0 0 1 5.198 41.6h41.604a26.151 26.151 0 0 1-4.257 4.457H9.455Zm1.984 1.486A25.88 25.88 0 0 0 26 52a25.88 25.88 0 0 0 14.561-4.457H11.44Zm40.298-25.257H.263c.22-1.533.573-3.023 1.047-4.457h49.38a25.836 25.836 0 0 1 1.047 4.457ZM4.16 11.886a25.92 25.92 0 0 0-2.308 4.457h48.294a25.922 25.922 0 0 0-2.308-4.457H4.161ZM46.802 10.4H5.198a26.154 26.154 0 0 1 4.257-4.457h33.09a26.157 26.157 0 0 1 4.257 4.457ZM26 0a25.88 25.88 0 0 1 14.562 4.457H11.438A25.88 25.88 0 0 1 26 0Z' fill='%23D7672D'/%3E%3C/svg%3E%0A");
}

.community {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 92px var(--section-side-padding) var(--section-side-padding);
  font: normal var(--font-size-base)/167% Merriweather;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52 52'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M52 26c0 .75-.032 1.494-.094 2.229H.094a26.345 26.345 0 0 1 0-4.457h51.812c.062.734.094 1.477.094 2.228ZM1.31 34.172a25.834 25.834 0 0 1-1.047-4.457h51.474a25.836 25.836 0 0 1-1.047 4.457H1.31Zm.543 1.485a25.921 25.921 0 0 0 2.308 4.458h43.678a25.922 25.922 0 0 0 2.308-4.458H1.853Zm7.602 10.4A26.155 26.155 0 0 1 5.198 41.6h41.604a26.151 26.151 0 0 1-4.257 4.457H9.455Zm1.984 1.486A25.88 25.88 0 0 0 26 52a25.88 25.88 0 0 0 14.561-4.457H11.44Zm40.298-25.257H.263c.22-1.533.573-3.023 1.047-4.457h49.38a25.836 25.836 0 0 1 1.047 4.457ZM4.16 11.886a25.92 25.92 0 0 0-2.308 4.457h48.294a25.922 25.922 0 0 0-2.308-4.457H4.161ZM46.802 10.4H5.198a26.154 26.154 0 0 1 4.257-4.457h33.09a26.157 26.157 0 0 1 4.257 4.457ZM26 0a25.88 25.88 0 0 1 14.562 4.457H11.438A25.88 25.88 0 0 1 26 0Z' fill='%2367774E'/%3E%3C/svg%3E%0A");
  background-position: 16px 16px;
  background-size: 52px 52px;
  background-repeat: no-repeat;
}

.community__title {
  font: normal var(--font-size-subheader)/150% "Tenor Sans";
  text-transform: uppercase;
  color: var(--color-text);
  margin: 0 0 calc(2 * var(--section-side-padding));
  padding: calc(var(--section-side-padding) / 2) 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* D7672D<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
  <path fill="#67774E" fill-rule="evenodd" clip-rule="evenodd" d="M52 26c0 .75-.032 1.494-.094 2.229H.094a26.345 26.345 0 0 1 0-4.457h51.812c.062.734.094 1.477.094 2.228ZM1.31 34.172a25.834 25.834 0 0 1-1.047-4.457h51.474a25.836 25.836 0 0 1-1.047 4.457H1.31Zm.543 1.485a25.921 25.921 0 0 0 2.308 4.458h43.678a25.922 25.922 0 0 0 2.308-4.458H1.853Zm7.602 10.4A26.155 26.155 0 0 1 5.198 41.6h41.604a26.151 26.151 0 0 1-4.257 4.457H9.455Zm1.984 1.486A25.88 25.88 0 0 0 26 52a25.88 25.88 0 0 0 14.561-4.457H11.44Zm40.298-25.257H.263c.22-1.533.573-3.023 1.047-4.457h49.38a25.836 25.836 0 0 1 1.047 4.457ZM4.16 11.886a25.92 25.92 0 0 0-2.308 4.457h48.294a25.922 25.922 0 0 0-2.308-4.457H4.161ZM46.802 10.4H5.198a26.154 26.154 0 0 1 4.257-4.457h33.09a26.157 26.157 0 0 1 4.257 4.457ZM26 0a25.88 25.88 0 0 1 14.562 4.457H11.438A25.88 25.88 0 0 1 26 0Z"/>
</svg>
*/
.community__text {
  font: normal var(--font-size-base)/167% Merriweather;
  margin: 0 0 calc(2 * var(--section-side-padding));
}

.community__link {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  background: #F7F7F7;
  border-radius: 16px;
  width: 56px;
  height: 56px;
}

.community__link svg {
  width: 14px;
  height: 12px;
}

.catalogue-form {}

.catalogue-form__group {
  display: flex;
}
.catalogue {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(2 * var(--section-top-padding-base));
  list-style: none;
  margin: calc(3 * var(--section-top-padding-base)) 0 calc(5 * var(--section-top-padding-base));;
  padding: 0;
}

.catalogue__item {
  margin: 0;
  padding: 0;
}

.catalogue-entry {
  padding-top: 160px;
  background: url('/static/img/catalogue-bg-01.svg') no-repeat;
  border-radius: 16px;
  overflow: hidden;
}

.catalogue-entry a {
  display: flex;
  flex: 1;
  text-decoration: none;
}

.catalogue-entry a:link,
.catalogue-entry a:visited {}

.catalogue-entry__title {
  padding: calc(2 * var(--section-top-padding-base));
  padding-top: calc(4 * var(--section-top-padding-base));
  background: #67774E;
  color: var(--color-light);
  font-family: Tenor Sans;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0em;
  text-transform: uppercase;
}
