---
layout: layouts/base.njk
---
<section class="facade">
    <div class="padded-wrap">
        <h1>Васильевский остров</h1>
        <h2>Авторский сайт о вокально-инструментальных ансамблях и музыке советской эпохи</h2>
        <nav class="community-navigation-wrap">
            <ul class="community-navigation">
                <li class="community-navigation__item"><a href="/guestbook/">Гостевая книга</a></li>
                <li class="community-navigation__item"><a taget="_blank" rel="nofollow, noindex, noreferrer" href="http://nostalgie30-80.com/forum/login.php?0">Форум «Ностальгия»</a></li>
            </ul>
        </nav>
    </div>
</section>
<section class="news">
    <h2>Новости</h2>
    <ul class="news-list">
        {%- for item in collections.news | reverse | slice(5) -%}
            <li class="news-list__item">
            {% if item.data.link %}<a class="news-item-link" href="{{ item.data.link }}">{% endif %}
            <article class="news-item">
                <time>{{ item.data.date | ruDate }}</time>
                {{ item.templateContent | safe }}
            </article>
            {% if item.data.link %}</a>{% endif %}
            </li>
        {%- endfor -%}
    </ul>

    <div class="news-footer">
        <a class="news-archive-link" href="/archive">Архив новостей</a>
    </div>
</section>
<section class="tracks-on-request">
    <ul class="requested-list">
        {%- for entry in collections.ondemand -%}
        <li class="requested-list__item" data-collapsed="true">
            <article class="requested-item">
                <button class="requested-item__toggle-visibility" type="button">{% if entry.data.title %}{{ entry.data.title }}{% else %}{{ entry.data.artist }}{% if entry.data.album %}, {{ entry.data.album }}{% endif %}{% endif %}</button>
                <div class="requested-item-tracks">
                    <h2 class="requested-item-tracks__title">Концерт по заявкам</h2>
                    <h3 class="requested-item-tracks__author">{{ entry.data.artist }}</h3>
                    {% if entry.data.album %}<h4 class="requested-item-tracks__album">{{ entry.data.album }}</h4>{% endif %}
                    <div class="requested-item-tracks__list-container">
                        <ol class="requested-item-tracks-list jouele-playlist">
                            {%- for track in entry.data.tracks -%}
                            <li class="requested-item-tracks-list__item">
                                {%- if track.link -%}
                                <a
                                    class="jouele"
                                    data-hide-timeline-on-pause="true"
                                    id="jesus-christ-pose"
                                    href="{{ track.link }}"
                                    {% if track.length %}data-length="{{ track.length }}"{% endif %}
                                >{{ track.title }}</a>
                                {%- endif -%}
                                {%- if track.youtube -%}
                                    {# <iframe width="560" height="315" src="https://www.youtube.com/embed/J20sHoi_5ws?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> #}
                                    <img class="requested-item-tracks-list__icon" src="/img/youtube.svg" height="20px" /><a href="{{ track.youtube }}" target="_blank" rel="noopener noreferrer nofollow">{{ track.title }}</a>
                                {%- endif -%}
                                {%- if track.ok -%}
                                    <img class="requested-item-tracks-list__icon" src="/img/ok.svg" height="20px" /><a href="{{ track.ok }}" target="_blank" rel="noopener noreferrer nofollow">{{ track.title }}</a>
                                {%- endif -%}
                            </li>
                            {%- endfor -%}
                        </ol>
                    </div>
                    <!-- <div class="requested-item-tracks__buttons">
                        <button class="requested-item-tracks__button requested-item-tracks__button_expand" type="button">Показать весь плейлист</button>
                        <button class="requested-item-tracks__button requested-item-tracks__button_collapse" type="button">Свернуть</button>
                    </div> -->
                </div>
            </article>
        </li>
        {%- endfor -%}
    </ul>
</section>

<section class="communities">
    <h2 class="communities__title">Сообщества</h2>
    <ul class="communities-list">
        <li class="communities-list__item">
            <article class="community">
                <h3 class="community__title">Форум «Ностальгия»</h3>
                <p class="community__text">Форум для любителей ретро-музыки. Можно найти новых друзей, старую музыку и многое другое.</p>
                <a class="community__link" taget="_blank" rel="nofollow, noindex, noreferrer" href="http://nostalgie30-80.com/forum/login.php?0">
                    <svg viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.79998 0.146446C7.58557 -0.0488153 7.23795 -0.0488153 7.02355 0.146446C6.80914 0.341709 6.80914 0.65829 7.02355 0.853553L12.1255 5.5H0.54902C0.245805 5.5 0 5.72386 0 6C0 6.27614 0.245805 6.5 0.54902 6.5H12.1255L7.02355 11.1464C6.80914 11.3417 6.80914 11.6583 7.02355 11.8536C7.23795 12.0488 7.58557 12.0488 7.79998 11.8536L13.8392 6.35355C14.0536 6.15829 14.0536 5.84171 13.8392 5.64645L7.79998 0.146446Z" fill="black"/>
                    </svg>
                </a>
            </article>
        </li>
        <li class="communities-list__item">
            <article class="community">
                <h3 class="community__title">Гостевая книга</h3>
                <p class="community__text">Здесь говорят на разные темы, помогают в поиске старых записей для сайта, а так же можно поблагодарить автора.</p>
                <a class="community__link" href="">
                    <svg viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.79998 0.146446C7.58557 -0.0488153 7.23795 -0.0488153 7.02355 0.146446C6.80914 0.341709 6.80914 0.65829 7.02355 0.853553L12.1255 5.5H0.54902C0.245805 5.5 0 5.72386 0 6C0 6.27614 0.245805 6.5 0.54902 6.5H12.1255L7.02355 11.1464C6.80914 11.3417 6.80914 11.6583 7.02355 11.8536C7.23795 12.0488 7.58557 12.0488 7.79998 11.8536L13.8392 6.35355C14.0536 6.15829 14.0536 5.84171 13.8392 5.64645L7.79998 0.146446Z" fill="black"/>
                    </svg>
                </a>
            </article>
        </li>
    </ul>
</section>
