.padded-wrap {
  padding: 0 var(--section-side-padding);
}

.facade {
  height: 100vh;
  background: #9dbbc5 url('/img/vynil.svg') right bottom no-repeat;
  padding-top: calc(2 * var(--section-top-padding-base));
}
