.padded-wrap {
  padding: var(--section-top-padding-base) var(--section-side-padding)
    var(--section-side-padding);
}

.facade {
  position: relative;
  height: 100vh;
  padding: 0;
  background-color: #9dbbc5;
  background-image: none;
  display: grid;
}

.facade::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80%;
  aspect-ratio: 1;
  background: url('/img/vynil.svg') right bottom no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

.facade .padded-wrap {
  display: flex;
  flex-direction: column;
}

.main-title {
  margin: 0 0 8px;
  padding: 0;
  font: normal 3rem/1.166 var(--font-family-header);
  letter-spacing: -0.005em;
  color: var(--color-main);
  text-transform: uppercase;
}

.main-title__section {
  display: none;
}
.main-title__website {
  display: block;
}

.main-subtitle {
  font: normal var(--font-size-header) / 1.166 var(--font-family-header);
  display: block;
  color: var(--color-text-dark-gray);
  font: normal 0.875rem/1.715 var(--font-family-text);
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
}
