.catalogue-entry {
  background-image: url('/img/catalogue-bg-01.svg');
  border-radius: 22px;
  overflow: hidden;
}

.catalogue-entry a {
  display: flex;
  flex: 1;
  text-decoration: none;
  padding-top: 160px;
  background-repeat: no-repeat;
}

.catalogue-entry a:link,
.catalogue-entry a:visited {
}

.catalogue-entry__title {
  padding: calc(2 * var(--section-top-padding-base));
  padding-top: calc(4 * var(--section-top-padding-base));
  background-color: var(--color-requested-header-bg-5);
  color: var(--color-light);
  font-family: var(--font-family-header);
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin: 0;
  flex: 1;
}
