.catalogue-entry {
  border-radius: 22px;
  overflow: hidden;
}

:nth-child(9n + 1) > .catalogue-entry {
  background-image: url('/img/catalogue-bg-01.svg');
}

:nth-child(9n + 2) > .catalogue-entry {
  background-image: url('/img/catalogue-bg-02.svg');
}

:nth-child(9n + 3) > .catalogue-entry {
  background-image: url('/img/catalogue-bg-03.svg');
}

:nth-child(9n + 4) > .catalogue-entry {
  background-image: url('/img/catalogue-bg-02.svg');
}

:nth-child(9n + 5) > .catalogue-entry {
  background-image: url('/img/catalogue-bg-03.svg');
}

:nth-child(9n + 6) > .catalogue-entry {
  background-image: url('/img/catalogue-bg-01.svg');
}

:nth-child(9n + 7) > .catalogue-entry {
  background-image: url('/img/catalogue-bg-03.svg');
}

:nth-child(9n + 8) > .catalogue-entry {
  background-image: url('/img/catalogue-bg-01.svg');
}

:nth-child(9n + 9) > .catalogue-entry {
  background-image: url('/img/catalogue-bg-02.svg');
}

.catalogue-entry a {
  display: flex;
  flex: 1;
  text-decoration: none;
  padding-top: 160px;
  background-repeat: no-repeat;
}

.catalogue-entry a:link,
.catalogue-entry a:visited {
}

.catalogue-entry__title {
  padding: calc(2 * var(--section-top-padding-base));
  padding-top: calc(4 * var(--section-top-padding-base));
  background-color: var(--color-requested-header-bg-5);
  color: var(--color-light);
  font-family: var(--font-family-header);
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin: 0;
  flex: 1;
}
