.requested-item-tracks::before {
  content: '';
  background-image: url('/img/vynil-right-half.svg');
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: var(--toggle-button-width);
  top: 50%;
  height: 60vh;
  transform: translateY(-50%);
  aspect-ratio: 2;
}

.requested-item-tracks {
  box-sizing: border-box;
  padding: calc(var(--section-top-padding-base) * 2) var(--section-side-padding)
    var(--section-top-padding-base) calc(var(--section-side-padding) * 4);
  flex-direction: column;
  height: 100%;
  display: none;
}

.requested-item-tracks[data-collapsed] {
  height: auto;
}

[data-collapsed='false'] .requested-item-tracks {
  display: flex;
}

.requested-item-tracks__title {
  padding: 0;
  background: none;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-text);
  font: normal var(--font-size-base) / 150% var(--font-family-header);
  margin: 0 0 1em;
}

.requested-item-tracks__author {
  margin: 0;
  padding: 0;
  text-align: left;
  color: var(--color-text);
  font: normal var(--font-size-subheader) / 133% var(--font-family-text);
}

.requested-item-tracks__album {
  margin: 0;
  padding: 0;
  text-align: left;
  font: normal var(--font-size-subheader) / 133% var(--font-family-text);
}

.requested-item-tracks__list-container {
  padding: 0;
  margin: 1em 0 0 0;
  overflow: auto;
  height: 100%;
}

.requested-item-tracks__buttons {
  display: none;
}
