.catalogue {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(2 * var(--section-top-padding-base));
  list-style: none;
  margin: calc(3 * var(--section-top-padding-base)) 0 0;
  margin: 0;
  padding: 0;
}

.catalogue__item {
  margin: 0;
  padding: 0;
}
