.catalogue-gallery {
  background: var(--color-bg-catalogue-gray);
  padding-top: calc(2 * var(--section-top-padding-base));
  padding-bottom: calc(2 * var(--section-top-padding-base));
}

.catalogue-gallery .section-title {
  margin-top: 0;
}

.fotorama__caption {
  font-family: var(--font-family-text);
  font-size: var(--font-size-small);
  color: var(--color-text);
}

.fotorama__caption__wrap {
  background: rgba(247, 247, 247, 0.75);
}
