.news {
  padding: var(--section-top-padding-base) var(--section-side-padding)
    var(--section-side-padding);
  display: grid;
  grid-template-areas:
    'header nav'
    'news news';
}

.news h2 {
  grid-area: header;
  margin-bottom: calc(var(--section-top-padding-base) * 1.5);
  color: var(--color-light);
}
