.button-load-more {
  display: flex;
  align-items: center;
  padding: 16px 42px;
  border: 1px solid #000000;
  border-radius: 16px;
  font-family: var(--font-family-text);
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  color: var(--color-text);
  background: var(--color-light);
  justify-content: center;

  margin: 0 auto;
}

.button-load-more:link,
.button-load-more:visited {
  color: var(--color-text);
  text-decoration: none;
}

.button-load-more:hover,
.button-load-more:focus-visible {
  background-color: var(--color-text);
  color: var(--color-light);
}
