.catalogue-other {
  padding-top: 0;
}

.catalogue-other__title {
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  text-transform: uppercase;
  color: #192c31;
  margin: 0 0 1rem;
}

.catalogue-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.catalogue-link {
  display: flex;
  font-family: var(--font-family-text);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-intense);
  line-height: 171%;
  letter-spacing: 0.01em;
}

.catalogue-link a {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid #dfdfdf;
  border-radius: 1rem;
  text-decoration: none;
  color: var(--color-text);
}

.catalogue-link__text {
  margin: 0;
}

.catalogue-link__arrow {
  align-self: end;
  margin-top: auto;
}

.link-arrow,
a:link .link-arrow,
a:visited .link-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background: #f7f7f7;
  border-radius: 1rem;
}

.link-arrow__image {
  width: 14px;
  height: 12px;
}

a:hover .link-arrow,
a:focus .link-arrow,
a:active .link-arrow {
  background-color: #dfdfdf;
}
