.video-item {
  background: #e7e7e7;
}
.video-item__title {
  margin: 0;
  padding: 0.5em 1em 0.85em;
  font-size: var(--font-size-intense);
  color: var(--color-text-dark-gray);
}

.video-item__link {
  display: grid;
}

.video-item__thumbnail {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 100%;
  aspect-ratio: 1.44;
  object-fit: cover;
}

.video-item__overlay {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  background: url('/img/video-arrow.svg') no-repeat center center;
  background-size: 56px 56px;
  transition: background-size 250ms;
}

.video-item__link:hover .video-item__overlay {
  background-size: 75px 75px;
}
