.video-item {
}

.video-item__link {
  display: grid;
}

.video-item__thumbnail {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 100%;
  aspect-ratio: 1.44;
  object-fit: cover;
}

.video-item__overlay {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  background: url('/img/video-arrow.svg') no-repeat center center;
  background-size: 56px 56px;
  transition: background-size 250ms;
}

.video-item__link:hover .video-item__overlay {
  background-size: 75px 75px;
}
