
.requested-item {
  display: contents;
}

.requested-item__toggle-visibility {
  position: absolute;
  transform: rotate(-90deg)
    translate(
      calc(-100vh + var(--toggle-button-width) / 2),
      calc(var(--toggle-button-width) / 2)
    );
  width: 100vh;
  height: var(--toggle-button-width);
  padding: 0;
  transform-origin: left;
}

[data-collapsed='false'] .requested-item__toggle-visibility {
  pointer-events: none;
}
