:root {
  --color-requested-header-bg-1: #3E81C5;
  --color-requested-header-bg-2: #3E81C5;
  --color-requested-header-bg-3: #3E81C5;
  --color-requested-header-bg-4: #3E81C5;
  --color-requested-header-bg-5: #3E81C5;
  --color-requested-header-bg-6: #3E81C5;
}
