@media screen and (min-width: 321px) {
  :root {
    --section-side-padding: 80px;
    --section-top-padding-base: 56px;
  }

  h2 {
    font: normal var(--font-size-header)/125% var(--font-family-header);
    letter-spacing: -0.005em;
    text-transform: uppercase;
  }

  .navigation-button {
    display: none;
  }

  .navigation {
    position: static;
    height: auto;
  }

  .padded-wrap {
    padding: var(--section-top-padding-base) var(--section-side-padding) var(--section-side-padding);
  }

  .facade {
    position: relative;
    height: 100vh;
    padding: 0;
    background-color: #9DBBC5;
    background-image: none;
    display: grid;
  }

  .facade::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 80%;
    aspect-ratio: 1;
    background: url('/img/vynil.svg') right bottom no-repeat;
    background-size: 100% 100%;
    z-index: 1;
  }

  .facade .padded-wrap {
    display: flex;
    flex-direction: column;
  }

  .facade h1 {
    margin: 0 0 8px;
    padding: 0;
    font: normal 3rem/1.166 var(--font-family-header);
    letter-spacing: -0.005em;
    color: var(--color-main);
    text-transform: uppercase;
  }

  .facade h2 {
    font: normal var(--font-size-header)/1.166 var(--font-family-header);
    display: block;
    color: var(--color-text-dark-gray);
    font: normal 0.875rem/1.715 var(--font-family-text);
    letter-spacing: 0.01em;
    margin: 0;
    padding: 0;
  }

  .community-navigation-wrap {
    margin-top: auto;
  }

  .community-navigation {
    display: flex;
    flex-direction: column;
    min-width: auto;
    font: normal 1.5rem/1.333 var(--font-family-header);
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--color-text);
    padding: 0;
    gap: 16px;
  }

  .community-navigation__item {
    border: none;
    padding: 0;
    margin: 0;

  }

  .community-navigation__item a {
    display: block;
    padding: 8px 0;
    border-top: 1px solid rgba(0, 0, 0, .2);
  }

  .main-navigation-wrap {
    display: contents;
  }

  .main-navigation {
    display: flex;
    flex-direction: row;
    gap: 36px;
    position: absolute;
    z-index: 2;
    top: var(--section-top-padding-base);
    right: var(--section-side-padding);
    left: auto;
    bottom: auto;
    background: none;
    font: normal 1rem/1.5 var(--font-family-header);
    text-transform: uppercase;
    color: var(--color-text);
    margin: 0;
    padding: 0;
  }

  .main-navigation__item {
    border: none;
  }

  .main-navigation a {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, .2);
  }

  .community-navigation__item a:link,
  .community-navigation__item a:visited,
  .main-navigation a:link,
  .main-navigation a:visited {
    color: var(--color-text);
    border-color: rgba(0, 0, 0, .2);
  }

  .community-navigation__item a:hover,
  .community-navigation__item a:active,
  .main-navigation a:hover,
  .main-navigation a:active {
    color: var(--color-text);
    border-color: rgba(0, 0, 0, 1);
  }
.news {
  padding: var(--section-top-padding-base) var(--section-side-padding) var(--section-side-padding);
  display: grid;
  grid-template-areas:
    "header nav"
    "news news"
}

.news h2 {
  grid-area: header;
  margin-bottom: calc(var(--section-top-padding-base) * 1.5);
  color: var(--color-light);
}

.news-footer {
  grid-area: nav;
  justify-self: end;
  display: block;
}

.news-archive-link {
  color: var(--color-light);
  font: normal var(--font-size-base)/150% var(--font-family-header);
  text-decoration: none;
  text-transform: uppercase;
  align-items: initial;
  gap: 20px;
}

.news-archive-link:link,
.news-archive-link:visited {
  color: rgb(var(--color-light-rgb));
}

.news-archive-link:hover,
.news-archive-link:active {
  color: rgba(var(--color-light-rgb), .8);
}

.news-list {
  grid-area: news;
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  grid-template-rows: repeat(100, auto);
  gap: 0 48px;
}

.news-list__item {
  grid-column: 2;
}

.news-list__item:first-child {
  grid-column: 1;
  grid-row: 1 / -1;
}

.news-item {
  border-top: 1px solid rgba(var(--color-light-rgb), .2);
  font: normal var(--font-size-base)/150% var(--font-family-text);
  padding: 12px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: inherit;
}

.news-item time {
  font-size: var(--font-size-intense);
  color: inherit;
  opacity: 1;
}

.news-item p {
  margin: 0;
}

.news-item-link {
  text-decoration: none;
  color: var(--color-light);
}

.news-item-link:link,
.news-item-link:visited {
  text-decoration: none;
  color: var(--color-light);
}

.news-item-link:hover,
.news-item-link:active {
  text-decoration: none;
  color: rgba(var(--color-light-rgb), .8);
}

.news-list__item:first-child .news-item {
  font-size: 2.125rem;
  line-height: 141%;
  gap: 24px;
}

.news-list__item:first-child .news-item time {
  font-size: 1rem;
  line-height: 162%;
}
.tracks-on-request {
  height: 100vh;
}

.requested-list {
  display: flex;
}

.requested-list__item {
  width: 80px;
  height: 100vh;
  position: relative;
}

.requested-list__item_opened {
  width: 100%;
}

.requested-item {
  display: contents;
}

.requested-item__toggle-visibility {
  position: absolute;
  transform: rotate(-90deg) translate(calc(-100vh + 40px), 40px);
  width: 100vh;
  height: 80px;
  padding: 0;
  transform-origin: left;
}

.requested-item-tracks::before {
  content: '';
  background-image: url(/img/vynil-right-half.svg);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 80px;
  top: 50%;
  height: 60vh;
  transform: translateY(-50%);
  aspect-ratio: 2;
}

.requested-item-tracks__title {
  padding: 0;
  background: none;
}

.requested-item-tracks {
  box-sizing: border-box;
  padding: calc(var(--section-top-padding-base) * 2) var(--section-side-padding) var(--section-top-padding-base) calc(var(--section-side-padding) * 5);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.requested-item-tracks__title {
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-text);
  font: normal var(--font-size-base)/150% var(--font-family-header);
  margin: 0 0 1em;
}

.requested-item-tracks__author {
  margin: 0;
  padding: 0;
  text-align: left;
  color: var(--color-text);
  font: normal var(--font-size-subheader)/133% var(--font-family-text);
}

.requested-item-tracks__album {
  margin: 0;
  padding: 0;
  text-align: left;
  font: normal var(--font-size-subheader)/133% var(--font-family-text);
  margin: 0 0 1em;
}

.requested-item-tracks__list-container {
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 100%;
}

.requested-item-tracks-list__item {
  font: normal var(--font-size-intense)/171% var(--font-family-text);
  letter-spacing: 0.01em;
  gap: 18px;
  padding: .5em 0;
  align-items: flex-start;
}

.jouele-info-time {
  font-size: 1em;
  color: var(--color-text);
  padding-right: 1em;
}
}
