:root {
  --section-side-padding: 16px;
}

.padded-wrap {
  padding: 0 var(--section-side-padding);
}

.navigation {
  position: sticky;
  background: #F2E7AA url('/img/vynil.svg') right bottom no-repeat;
  /*position: sticky;*/
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 48px;
  overflow: hidden;
  /*transition: height .125s ease-out;*/ 
}

.navigation-toggle {
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;
  border: none;
  padding: 12px var(--section-side-padding);
  font-family: var(--font-family-header);
  font-size: 0.875rem;
  line-height: 143%;
  text-transform: uppercase;
  color: var(--color-main);
}

.navigation-toggle__open-icon {
  margin-right: 12px;
}

.navigation-toggle__close-icon {
    visibility: hidden;
    margin-left: auto;
}

.navigation_visible {
  height: 100vh;
}

.navigation_visible .navigation-toggle {
  color: #F2E7AA;  
  background-color: #F2E7AA;
}

.navigation_visible .navigation-toggle__open-icon {
  visibility: hidden;
}

.navigation_visible .navigation-toggle__close-icon {
  visibility: visible;
}



.main-navigation-wrap {
  display: flex;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: var(--font-family-header);
  line-height: 1.333;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color-main);
  margin: 16px;
  padding: 0;
  list-style: none;
}

.main-navigation > li {
  margin: 0 0 1em;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.main-navigation a {
  text-decoration: none;
  color: var(--color-main);
  display: block;
  padding: 8px 0;
}

.facade {
  height: 100vh;
  background: #9DBBC5 url('/img/vynil.svg') right bottom no-repeat;  
  padding-top: 24px;
}

.facade h1 {
  margin: 0 0 56px;
  padding: 0;
  font: normal 1.5rem/1.333 var(--font-family-header);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  width: 75%;
}

.community-navigation-wrap {
  display: flex;
}

.community-navigation {
  display: flex;
  flex-direction: column;
  min-width: 70vw;
  padding: 0;
  margin: 0;
  list-style: none;  
  font: normal .875rem/1.4285 var(--font-family-header);
  text-transform: uppercase;
  color: var(--color-main);
}

.community-navigation > li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 8px;
  padding: 0;
}
.community-navigation a {
  color: var(--color-main);
  text-decoration: none;
  display: block;
  padding: 8px 0;
}



.news {
  padding: 1.5em var(--section-side-padding) 2.5em;
  color: var(--color-light);
  background-color: #D7672D;
}

.news h2 {
  font: normal 1.25rem/1.4 var(--font-family-header);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0 0 2em;
  padding: 0;
}


.news-list {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}

.news-list li {
  margin: 0;
  padding: 0;
}

.news-item {
  color: var(--color-light);
  font: normal .875rem/1.715 var(--font-family-text);
  letter-spacing: 0.01em;
  border-top: 1px solid #DFDFDF;
  padding: 8px 0;
}

.news-item time {
  font: normal .75rem/1.666 var(--font-family-text);
  opacity: 0.6;
  color: var(--color-light);
}

.news-item p {
  margin: .875em 0;
}

.news-footer {
  display: flex;
  justify-content: flex-end;
}

.news-archive-link {
  font: normal .75rem var(--font-family-header);
  text-transform: uppercase;
  color: var(--color-light);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.news-archive-link::after {
  content: url('/img/arrow-right.svg');
}



