.news-footer {
  grid-area: nav;
  justify-self: end;
  display: block;
}

.news-archive-link {
  color: var(--color-light);
  font: normal var(--font-size-base) / 150% var(--font-family-header);
  text-decoration: none;
  text-transform: uppercase;
  align-items: initial;
  gap: 20px;
}

.news-archive-link:link,
.news-archive-link:visited {
  color: rgb(var(--color-light-rgb));
}

.news-archive-link:hover,
.news-archive-link:active {
  color: rgba(var(--color-light-rgb), 0.8);
}
