.news-footer {
  display: flex;
  justify-content: flex-end;
}

.news-archive-link {
  font: normal 0.75rem var(--font-family-header);
  text-transform: uppercase;
  color: var(--color-light);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.news-archive-link::after {
  content: url('/img/arrow-right.svg');
}
